nav {
    margin-top: 25px;
}
nav ul a{

    color: #EEE;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: .8s;
}
nav ul a:hover{
       color: #E00;
}

.dropdown-menu{
    display: flex;
    gap: 100px; 
    font-family: "Roboto", sans-serif;
  }
.dropdown-menu li{
     height: 50px;
    list-style: none;      
}
.dropdown-menu ul {
     display: none;
     list-style: none;
}
.dropdown-menu  a{

    display: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
    flex-direction: column;
 }
.dropdown-menu li:hover > .dropdown-submenu{
    display:block;
}
.dropdown-submenu{
    display:none;
    position: absolute;
}
.dropdown-submenu a{
    display: flex;
    align-items: center;
    background-color: #00000080;
    font-family: "Roboto", sans-serif;
    justify-content: flex-start;
    align-items: center;
}


