.dropdown{
    display: flex;
    gap: 100px;
    
}
.dropdown li{
    width: 150px;
    height: 50px;
    list-style: none;
     
}

.dropdown a{

    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dropdown li:hover > a{
   background-color: blanchedalmond;

}