body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-blend-mode: darken;
    background-size: cover;
    background-position:right;
    background-image: url(../../img/image\ 4.png);
    display: flex;
    flex-direction: column;
}